@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  //   font-size: 62.5%; // @media screen and (max-width: 1366px) {
  //     font-size: 55%;
  // }
  // @media screen and (max-width: 1280px) {
  //     font-size: 52%;
  // }
}

body {
  box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
  margin: 0 auto 600px;
  width: 75%;
  max-width: 1200px;
}

.flex-spcbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-12 {
  font-size: 12px;
}

.topbar {
  padding: 30px 40px;

  &__logo {
    font-family: "Catamaran", sans-serif;
    color: #ff385c;
    font-size: 35px;
  }
  &__user {
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 15px;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease 0s;

    &:hover {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    & img {
      border-radius: 50%;
      height: 30px;
      margin-left: 10px;
    }
  }
}

.options {
  margin: 0 auto;
  width: 310px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease 0s;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__dates {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    color: #aaa;
  }
}

.featured {
  margin: 40px 0;
  width: 100%;

  &__map {
    height: 400px;
    width: 47.5%;
    border-radius: 10px;
    overflow: hidden;
  }
  &__rooms {
    height: 400px;
    width: 47.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__room {    
    animation: fadeIn .2s;
    cursor: pointer;
    height: 47.5%;
    width: 48.5%;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease 0s;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }

    &__medal {
      position: absolute;
      right: 5px;
      top: 5px;
      background-color: rgba(255, 255, 255, 0.7);
      width: 35px;
      height: 35px;
      border-radius: 50%;

      & i {
        color: #ff385c;
        font-size: 20px;
      }
    }

    &__score {
      position: absolute;
      right: 5px;
      bottom: 5px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      width: 50px;
      height: 28px;
      font-size: 14px;
      line-height: 100%;
      color: #555;

      & i {
        color: #ff385c;
        margin-right: 5px;
        margin-bottom: 3px;
      }
    }
  }
}

.sort-by {
  text-align: center;
  color: #ff385c;

  &__button {
    color: #888;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease 0s;
    overflow: hidden;
    margin-left: 25px;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.selected {  
  background-color: #ff385c;
  color: white;
}

.all-rooms {
  margin-top: 50px;
}

.card {
  animation: fadeIn .2s;
  cursor: pointer;
  color: #555;
  width: 23.5%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease 0s;
  overflow: hidden;

  & i {
    color: #ff385c;
  }

  &:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  }

  & img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }

  &__header {
    margin: 15px auto;
    width: 90%;
  }
  &__name {
    margin: 15px auto;
    width: 90%;
    color: #333;
  }
  &__price {
    margin: auto auto 10px;
    width: 90%;
    color: #aaa;
    font-size: 14px;
  }
}
